image:
  repository: openjdk
  tag: latest
  pullPolicy: IfNotPresent 

service:
  type: ClusterIP
  port: 8080

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 150m
    memory: 256Mi

env:
  MANAGMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE:"health,info,mappings"


livenessProbe:
  httpGet:
    path: /api/actuator/health/liveness
    port: 8080
  initialDelaySeconds: 240
  periodSeconds: 20

readinessProbe:
  httpGet:
    path: /api/actuator/health/readiness
    port: 8080
  initialDelaySeconds: 240
  periodSeconds: 20